{% extends 'base.html.twig' %}

{% block title %}Projets Professionnels{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 title-home">

                    <div id="upper_left-corner"></div>
                    <div id="upper_right-corner"></div>
                    <div id="lower_left-corner"></div>
                    <div id="lower_right-corner"></div>

                    <div class="row">
                        <div class="col-12 col-sm-8 col-md-9 col-lg-10 title-home-text">
                            Projets Professionnels /
                        </div>
                        <div class="col-12 col-sm-4 col-md-3 col-lg-2 text-center">
                            <a class="return-next-link" href="{{ path('app_index') }}">
                                Retour à l'index
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 flipboard-boxes">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="card">

                                <div id="upper_left-news"></div>
                                <div id="upper_right-news"></div>
                                <div id="lower_left-news"></div>
                                <div id="lower_right-news"></div>

                                <img class="card-img-top"
                                     src="{{ asset('images/khartu-al.png') }}"
                                     alt="Card image cap">

                                <div class="card-body">

                                    <h4 class="card-subtitle">TYPE / <span class="type-group">information /</span></h4>
                                    <h3 class="card-title">
                                        Passer les Epreuves
                                    </h3>
                                    <p class="card-text">
                                        Durant ma formation de Ninja, j'ai créé plusieurs projets professionnels afin de
                                        mettre au défis mon savoir-faire. <br>
                                        J'ai choisi de devenir un spécialiste Symfony, vous pourrez donc consulter 4 projets
                                        sous le framework Symfony et 1 projet sous PHP.
                                    </p>
                                    <p>
                                        Les voici :
                                    </p>
                                    <div class="col-lg-12 table-text">

                                        <div id="upper_left-corner"></div>
                                        <div id="upper_right-corner"></div>
                                        <div id="lower_left-corner"></div>
                                        <div id="lower_right-corner"></div>

                                        <img src="{{ asset('images/title-icon2.png') }}"><span class="project-title">SnowTricks</span><br>
                                        Mon premier site sous Symfony. <br>
                                        Ce projet a été réalisé sous Symfony 4 et Bootstrap 4.<br>
                                        Le défi principal était de créer une gallerie d'images et
                                        de vidéos sans l'aide d'un Bundle.<br>
                                        Si vous vous enregistrez, vous aurez la possibilité de créer un nouveau Tricks,
                                        en modifier, en supprimer ainsi que d'écrire des commentaires.<br>
                                        <br>
                                        Projet en ligne : <a class="project-link" href="https://app-snowtricks.herokuapp.com/">SnowTricks</a> <br>
                                        Repository Github : <a class="project-link" href="https://github.com/Beskargam/Project6_SnowTricks">Code Snowtricks</a>
                                    </div>
                                    <div class="col-lg-12 table-text">

                                        <div id="upper_left-corner"></div>
                                        <div id="upper_right-corner"></div>
                                        <div id="lower_left-corner"></div>
                                        <div id="lower_right-corner"></div>

                                        <img src="{{ asset('images/title-icon2.png') }}"><span class="project-title">BilMo API REST</span><br>
                                        Ma première API REST. <br>
                                        Construite sous Symfony 4 et en utilisant une connexion Google Sign In, l'objectif est d'obtenir un Token
                                        d'authentification pour accéder aux données de l'API. J'ai adapté GUARD de Symfony pour utiliser Google Sign In. <br>
                                        Mon défi lors de ce projet se trouvait dans la compréhension de GUARD afin de l'adapter à Google Sign In. <br>
                                        Avant de mettre en place l'authentification avec Google Sign In, j'ai réalisé ce projet avec une authentification Github.<br>
                                        <br>
                                        Projet en ligne : <a class="project-link" href="https://app-bilemo.herokuapp.com/">BilMo API REST</a> <br>
                                        Repository Github : <a class="project-link" href="https://github.com/Beskargam/Project7_Api">Code BilMo API REST</a>
                                    </div>
                                    <div class="col-lg-12 table-text">

                                        <div id="upper_left-corner"></div>
                                        <div id="upper_right-corner"></div>
                                        <div id="lower_left-corner"></div>
                                        <div id="lower_right-corner"></div>

                                        <img src="{{ asset('images/title-icon2.png') }}"><span class="project-title">ToDo TASK</span><br>
                                        Ce projet diffère des autres.<br>
                                        Le but était de reprendre le travail d'un autre développeur afin de régler quelques bugs,
                                        réaliser quelques améliorations, faire une analyse des performances pour évaluer une dette technique
                                        et écrire une batterie de Test avec PHPUnit.<br>
                                        J'ai donc fait passer l'application de la version 3.1 de Symfony vers la 4.2. <br>
                                        J'ai choisi la version 4.2 de Symfony et non 3.4 parce que je souhaitais tester une migration majeur
                                        d'une application web.<br>
                                        <br>
                                        Projet en ligne : <a class="project-link" href="https://app-todotask.herokuapp.com/">ToDo TASK</a> <br>
                                        Repository Github : <a class="project-link" href="https://github.com/Beskargam/Project8_PhpUnit">Code ToDo TASK</a>
                                    </div>
                                    <div class="col-lg-12 table-text">

                                        <div id="upper_left-corner"></div>
                                        <div id="upper_right-corner"></div>
                                        <div id="lower_left-corner"></div>
                                        <div id="lower_right-corner"></div>

                                        <img src="{{ asset('images/title-icon2.png') }}"><span class="project-title">A.M.T.I.</span><br>
                                        A.M.T.I. ou ARCTURUS MOREA TRANSPORT INTERGALACTIC est mon premier Projet PHP mais aussi mon Hall of Fame pour son côté Responsive. <br>
                                        C'est avec ce projet que j'ai appris la Programmation Orienté Object, POO, sous modèle MVC. <br>
                                        La complexité du code PHP de ce projet a été notifié à 8.5/10 par mon Mentor, Camille Kanza. <br>
                                        <br>
                                        La sécurité du site présente un double niveau. Toute la partie administration possède un noyau
                                        isolé et sécurisé. Si vous souhaitez accéder à la partie administration, utilisez cet identifiant :<br>
                                        Pseudo : Arcturus Morea <br>
                                        Mot de passe : NdCHv1417 <br>
                                        <br>
                                        Pour le côté Responsive, allez-y, sérieusement ça vaut le coup. Pour la partie administration également d'ailleurs <br>
                                        <br>
                                        Projet en ligne : <a class="project-link" href="https://arcturusmorea.planethoster.world/">A.M.T.I.</a> <br>
                                        Repository Github : <a class="project-link" href="https://github.com/Beskargam/Project5_PHP">Code A.M.T.I.</a>
                                    </div>
                                    <div class="col-lg-12 table-text">

                                        <div id="upper_left-corner"></div>
                                        <div id="upper_right-corner"></div>
                                        <div id="lower_left-corner"></div>
                                        <div id="lower_right-corner"></div>

                                        <img src="{{ asset('images/title-icon2.png') }}"><span class="project-title">YesWeDev</span><br>
                                        Et bien Oui ! C'est bien le site sur lequel vous êtes en ce moment. <br>
                                        Le projet est simple, certes, mais quand même sous Symfony 4. <br>
                                        <br>
                                        Repository Github : <a class="project-link" href="https://github.com/Beskargam/Project_YesWeDev">Code YesWeDev</a>
                                    </div>
                                    <p>
                                        Voilà ce que j'ai fait pour le moment. La liste de mes projets variant d'un espace temps à un autre,
                                        voici mon profil Github. <br>
                                        Comme ça si jamais des projets s'ajoutent, vous pourrez les voir. <br>
                                        <img src="{{ asset('images/title-icon2.png') }}"><a class="project-link" href="https://arcturusmorea.planethoster.world/">Profil Github AureDev</a>
                                    </p>
                                </div>
                                <div class="card-footer text-right">
                                    <a class="return-next-link" href="{{ path('app_skill') }}">
                                        Page Précédente
                                    </a>
                                    <a class="return-next-link " href="{{ path('app_formation') }}">
                                        Page Suivante
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
